<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148835388076-8ivf8ugistss7jklathffph9nrd1439i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148835388076-8ivf8ugistss7jklathffph9nrd1439i</string>
	<key>API_KEY</key>
	<string>AIzaSyBWAo88nY35WllefhNRRNz9ijENy_V2PLY</string>
	<key>GCM_SENDER_ID</key>
	<string>148835388076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.antiapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-antiapp</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-antiapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148835388076:ios:31bd157fc23e6f213bed09</string>
</dict>
</plist>